html {
  scroll-behavior: smooth;
}
:root {
  --lightestblue: #edfafd;
  --lighterblue: #daf5fb;
  --lightblue: #429ebd;
  --darkblue: #053f5c;
  --darkestblue: #010f16;
  --yellow: #f2c94c;
  --bs-navbar-active-color: rgba(var(--darkblue), 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Lato", sans-serif; */
}
header {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}
.nav-i {
  font-weight: 600;
  color: var(--darkblue);
}
.container-fluid {
  --bs-gutter-x: 0;
}
.logo {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}
.navbar-brand {
  font-size: 1.5rem;
  color: var(--darkestblue);
}
.max-w {
  max-width: 1042px;
}
main {
  margin-top: 4rem;
  background-color: var(--lightestblue);
}
#Hero {
  padding-top: 4rem;
}
.hero {
  display: flex;
  align-items: center;
  background-color: var(--darkestblue);
  border-radius: 20px;
  max-width: 1042px;
}
.hero > div {
  padding: 2rem 4rem;
  max-width: 60%;
}
#Hero h1 {
  font-size: 3rem;
  font-weight: 900;
}
.accent {
  color: var(--yellow);
}
.sec-gap-b {
  padding-bottom: 4rem;
}
.grid1 {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.g-item {
  border-radius: 20px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.intro-small {
  /* height: 100px; */
  width: 200px !important;
  align-self: center;
}
#About h2 {
  font-weight: 800;
  font-size: 2.5rem;
}
#Features h2,
#FAQs .h2 {
  font-weight: 900;
  font-size: 2.5rem;
}
#Features h3 {
  font-weight: 700;
  font-weight: 700;
  font-size: 1.75rem;
  padding-bottom: 1rem;
  /* padding-left: 1rem; */
}
.features {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding-top: 1rem;
  gap: 1rem;
}
.ft {
  border-radius: 20px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* text-align: center; */
}
.ft ul {
  padding-left: 1rem;
  list-style: square;
  margin-bottom: 0;
}
.ft li {
  padding-bottom: 0.5rem;
  font-weight: 500;
}
#Testimonials {
  margin: 0 1rem;
}
.carousel {
  width: 100%;
  border-radius: 20px;
}
.blockquote-footer {
  color: var(--darkblue);
  font-size: 1rem;
  padding-top: 1rem;
}
.r-bold {
  font-weight: 900;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
#FAQs {
  margin: 0 1rem;
}
#FAQs > div {
  width: 100%;
  text-align: center;
}

.h2 {
  font-weight: 900;
  font-size: calc(1.475rem + 2.7vw);
  padding-bottom: 1rem;
}
.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --bs-accordion-color: black;
  --bs-accordion-bg: var(--lightblue);
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 20px;
  --bs-accordion-inner-border-radius: 20px;
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: black;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23212529"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  );
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23052c65"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  );
  --bs-accordion-btn-focus-border-color: var(--lighterblue);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: white;
}
.accordion-item {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}
#FAQs h2 > button {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.review-g {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.review-i {
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
}
.eldc {
  max-width: 1042px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 20px;
  gap: 1rem;
}
.eldc-i {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.eldc h2 {
  font-size: 2.5rem;
  font-weight: 900;
}
#Founders .eldc {
  grid-template-columns: 1fr 2fr;
}

.mid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bg {
  max-width: 1042px;
  margin: 0 1rem;
}
.col {
  background-color: aqua;
}

.grid-container {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(2fr, auto) minmax(repeat(4, 400px), auto) auto;
  padding-top: 2rem;
  gap: 2rem;
}
.grid-item {
  border-radius: 20px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#About .grid-item h2 {
  font-weight: 900;
  font-size: xx-large;
  padding-bottom: 1.5rem;
}
.head {
  grid-column: span 2;
  background-color: var(--lighterblue);
}
.bottom {
  text-align: center;
  grid-column: span 2;
  background-color: var(--darkblue);
  padding: 1rem;
  color: white;
}
.c0 {
  background-color: var(--lighterblue);
  color: #053f5c;
}
.c1 {
  background-color: var(--darkblue);
  color: white;
}
.c2 {
  background-color: var(--lightblue);
  color: #053f5c;
  color: var(--darkestblue);
  /* color: black; */
}

.c3 {
  background-color: var(--yellow);
  color: var(--darkestblue);
}
.c4 {
  background-color: var(--darkestblue);
  color: #f5deb3;
}
.btn {
  /* --bs-btn-font-weight: 600; */
  /* --bs-btn-color: var(--bs-white); */
  /* --bs-btn-bg: var(--bd-violet-bg); */
  /* --bs-btn-border-color: var(--bd-violet-bg); */
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--darkblue);
  --bs-btn-hover-border-color: white;
}
.icon {
  border-radius: 20px;
}
.icon img {
  width: 100%;
}
#AboutFounders .eldc {
  grid-template-columns: repeat(6, 1fr);
}
.f {
  grid-column: span 4;
}
.fi {
  grid-column: span 2;
}
#AboutFounders .eldc h2 {
  color: #010f16;
  font-size: 2rem;
  font-weight: 600;
}
#AboutFounders h3 {
  font-weight: 600;
}
#AboutFounders h4 {
  font-size: 1rem;
  font-weight: 600;
}
.f-content {
  grid-column: span 3;
}
#How {
  padding: 4rem 0;
  text-align: center;
}
.how {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}
.howitem {
  flex-basis: calc(33.33% - 1.67rem);
  border-radius: 20px;
  padding: 1.5rem;
}
.enroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enroll div {
  border-radius: 20px;
}
.enroll-block {
  font-weight: 500;
  font-size: 1.5rem;
}
/* Levels page */
.grid-container-l {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, (1fr minmax(400px, auto) 1fr));
  padding-top: 2rem;
  gap: 2rem;
}
.grid-container-l .grid-item {
  padding: 2rem;
}
.arrow {
  grid-column: span 2;
}
#Levels .grid-item h3 {
  font-weight: 900;
  font-size: xx-large;
}
/* enroll page */
#Enroll h2 {
  font-size: 2.5rem;
  font-weight: 900;
}
.text-left-top {
  text-align: left;
  justify-content: flex-start;
}
.program-d {
  display: grid;
  width: 100%;
  grid-template-columns: 0.75fr 3fr 4fr;
  /* grid-template-rows: 1.5fr repeat(2, 1fr); */
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.5px;
  align-items: start;
  row-gap: 1rem;
}
.program-d img {
  height: 20px;
  margin-top: 2px;
}
.contact-box {
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 20px;
}
.contact-box h2 {
  padding: 1rem;
}
.contact-box h3 {
  font-weight: 700;
  letter-spacing: 1px;
}
footer {
  display: flex;
  background: linear-gradient(white, var(--lightestblue), white);
  /* height: 300px; */
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}
.footer {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 1rem; */
  width: 100%;
  /* max-width: 1042px; */
  justify-content: space-between;
  border-top: solid var(--darkblue) 2px;
  padding-top: 2rem;
}
.footer-item {
  display: flex;
  align-self: center;
  font-weight: 600;
}
.footer-icon {
  height: 18px;
  margin-top: 2px;
  margin-right: 0.5rem;
}
.footer-logo {
  flex-direction: column;
  align-items: center;
  font-size: small;
  font-weight: 500;
}
.footer-logo h2 {
  font-weight: 700;
}
.footer-logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.credit {
  color: #053f5c;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .nav-link {
    text-align: center;
  }
  .nav-btn {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-right: 1rem;
  }
  @media screen and (max-width: 500px) {
  }
  #Hero {
    padding-top: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    background-color: var(--darkestblue);
    border-radius: 20px;
  }
  .hero > div {
    padding: 2rem 2rem;
    max-width: 100%;
  }
  .grid1 {
    grid-template-columns: 1fr;
  }
  .g-item {
    padding: 5%;
    text-align: center;
    padding-top: 10%;
  }
  #About h2 {
    font-weight: 800;
    font-size: 1.75rem;
  }
  #About .grid-item h2 {
    padding-bottom: 0rem;
  }
  .features {
    grid-template-columns: 1fr;
  }

  #Features h3 {
    padding-left: 1rem;
  }
  .o-1 {
    order: -1;
  }
  .o1 {
    order: 1;
  }
  .o2 {
    order: 2;
  }
  .o3 {
    order: 3;
  }
  .o4 {
    order: 4;
  }
  .o5 {
    order: 5;
  }
  .o6 {
    order: 6;
  }

  .eldc {
    grid-template-columns: 1fr;
  }
  .eldc-i {
    padding: 5%;
  }
  #Founders .eldc {
    grid-template-columns: 1fr;
  }
  #AboutFounders .eldc {
    grid-template-columns: 1fr;
  }
  .f {
    grid-column: span 1;
  }
  .fi {
    grid-column: span 1;
  }
  .f-content {
    grid-column: span 1;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .grid-item {
    padding: 1rem;
  }
  .how {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .grid-container-l {
    display: flex;
    flex-direction: column;
  }
  .program-d {
    padding: 2rem;
  }
  .footer {
    flex-direction: column;
    display: flex;
  }
  .intro-logo {
    padding-top: 5%;
  }
}
@media screen and (max-width: 700px) {
  .howitem {
    flex-basis: calc(40% - 0rem);
    border-radius: 20px;
    padding: 1.5rem;
  }
  .logo {
    margin-right: 0;
  }
  .navbar-brand {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@media (width < 351px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}
/* @media (width < 351px) {
  .navbar-brand {
    font-size: 1rem;
  }
} */

/* animation */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(10%);
  transition: all 1s;
  transition-delay: calc(100ms * var(--order));
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
